body{
  background-color: rgb(139, 107, 203);
}

.App {
  text-align: center;
}

.App .item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background-color: #4002bc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #4002bc;
  outline: none;
  background: transparent;
  background-color: #fff;
  width: 180px;
}

.App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  outline: none;
  background-color: #4002bc;
  color: #fff;
  text-transform: capitalize;
}

button:hover{
  color: orange;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 20px;
  position: relative;
  right: -4px;
  bottom: 5px;
}

.item-todo:hover{
  color:black;
}

.item-delete {
  color: red;
  border: 1px solid black;
  padding: 1px 6px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 4px;
}

.item-delete:hover{
 background-color: yellow;
}

.strike {
  text-decoration: line-through;
  color: black;
}

.strike:hover{
  color:#fff;
}